{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static '/css/style.css' %}" />
    <title>Reset Password</title>
  </head>
  <body>
    <div class="auth-container">
      <p>We sent a message to your email address. Please check it out</p>
      <div class="links">
        <a href="{% url 'login' %}">Return to Login</a>
      </div>
    </div>
  </body>
</html>
